  .customDanger {
    border-top-color: lightcoral;
    border-top-width: 3px;
  }

  .customSuccess {
    border-top-color: #20b2aa;
    border-top-width: 3px;
  }

  .close {

    position: absolute;
    top: 0px;
    right: 10px;
    padding: 10px 10px 10px 10px

  }
  
  .passedDeadline {
    border-color:  lightcoral;
   border-width: 5px;
  }