
.body {
      background-color: beige;
  }

  .customDanger {
    border-top-color: darkred;
    border-top-width: 3px;
  }

  .customSuccess {
    border-top-color: green;
    border-top-width: 3px;
  }