
.body {
      background-color: beige;
  }

  .customDanger {
    border-top-color: lightcoral;
    border-top-width: 3px;
  }

  .customSuccess {
    border-top-color: lightseagreen;
    border-top-width: 3px;
  }